body {
  margin: 0px;
  background-image: url("https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY.jpg");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color:grey;
  background-image:url(earth-back.png);
  background-repeat:no-repeat;
  background-size:cover;
  margin: 20px;
  border-radius: 15px;
  border: 5px solid #07ed39;
}

img {
  display: none;
}